table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #421ced;
  width: 80%; /* Ajustar el ancho de la tabla al 100% */
  margin: 50px auto;
  border-radius: .25rem;
}

thead tr:first-child {
  background: #421ced;
  color: #fff;
  border: none;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

/* Alineación de las celdas */
th, td {
  padding: 10px; /* Añadir padding consistente */
  text-align: left; /* Asegurarte de que todas las celdas estén alineadas a la izquierda */
}

th {
  font-weight: 500;
}

/* Para el hover en filas */
tbody tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}